In [1]:
import re
import pandas
from collections import Counter

def authattr_worddict(doc):
    doc=re.sub('[^a-zA-Z;,.]',' ',doc)
    doc=doc.lower()
    a=dict([i,doc.split().count(i)] for i in doc.split())
    return (sorted(a.items(),key=lambda x:x[1],reverse=True))

def authattr_ranking(a):
    m=[(Counter(a)[k]-1)/2 for k in Counter(a)] #求ranking1
        

    arr = pandas.Series(a) #求ranking2
    n=arr.rank(ascending=False, method='min')

    ranking=[n[0]+m[0]]     #求sum-ranking
    
    i=1
    j=0
    while i<len(n):
        if n[i]!=n[i-1]:
            summm=n[i]+m[j+1]
            ranking.append(summm)
            i+=1
            j+=1
        else:
            summm=n[i]+m[j]
            ranking.append(summm)
            i+=1
    return ranking

def authattr_authorpred(authordict, unknown, maxrank):
    word_a1=authordict.get('tim')[0]+' , '+authordict.get('tim')[1]
    authordict_1=authattr_worddict(word_a1)
    list1=[x[0] for x in authordict_1] 
    list2=[x[1] for x in authordict_1]
    list3=authattr_ranking(list2)
    a=[i for i in map(list,zip(list1,list2,list3))]
    print(a)

#     authordict_1=authattr_worddict(unknown)
    
authordict={'tim': ['One One was a racehorse ; Two Two was one too', 'How much wood could a woodchuck chuck']}
unknown='She sells sea shells on the seashore'
maxrank=20
k=authattr_authorpred(authordict,unknown,maxrank)
print(k)

[['one', 3, 1.0], ['was', 2, 3.0], ['a', 2, 3.0], ['two', 2, 3.0], ['racehorse', 1, 9.5], [';', 1, 9.5], ['too', 1, 9.5], [',', 1, 9.5], ['how', 1, 9.5], ['much', 1, 9.5], ['wood', 1, 9.5], ['could', 1, 9.5], ['woodchuck', 1, 9.5], ['chuck', 1, 9.5]]
None

读文件tox21.csv , 该文件为毒性分子数据库，
其中O列smiles属性表示该分子式，
B-M行表示该分子具有的12中化学属性，1表示有该属性，0表示无该属性，没有数字表示未知。
根据tox21.csv生成一个新的.csv文件，该新文件包含12个sheet，每一个子文件表示一种属性。
第一列为分子序号（与tox21.csv中的第A列序号一致），
第二列为Mol_id(与tox21.csv中的N列内容一致)，
第三列为分子式，
第四列为是否具有该属性，若属性值未知，则该分子不包含在当前sheet中。

In [ ]:
import pandas as pd
import xlwt
import xlrd

df=pd.read_csv("tox21.csv")
writer=pd.ExcelWriter("tox21.xls")

i=1
while i<13:
    sheet='sheet%s'%i
    col=['NR-AR','NR-AR-LBD','NR-AhR','NR-Aromatase','NR-ER','NR-ER-LBD','NR-PPAR-gamma','SR-ARE','SR-ATAD5','SR-HSE','SR-MMP','SR-p53']
    df.to_excel(writer,sheet_name=sheet,columns=['mol_id','smiles',col[i-1]])
    i+=1
       
writer.save()

In [ ]:
1.Find the title of each film
    SELECT title FROM movies;
2.Find the director of each film
    SELECT director FROM movies; 
3.Find the title and director of each film 
    SELECT title, director FROM movies; 
4.Find the title and year of each film 
    SELECT title, year FROM movies; 
5.Find all the information about each film 
    SELECT * FROM movies;

In [ ]:
1.Find the movie with a row id of 6 
    SELECT id, title FROM movies 
    WHERE id = 6;
2.Find the movies released in the years between 2000 and 2010
    SELECT title, year FROM movies
    WHERE year BETWEEN 2000 AND 2010;
3.Find the movies not released in the years between 2000 and 2010
    SELECT title, year FROM movies
    WHERE year < 2000 OR year > 2010;
4.Find the first 5 Pixar movies and their release year
    SELECT title, year FROM movies
    WHERE year <= 2003;

In [ ]:
1.Find all the Toy Story movies 
    SELECT title, director FROM movies 
    WHERE title LIKE "Toy Story%";
2.Find all the movies directed by John Lasseter 
    SELECT title, director FROM movies 
    WHERE director = "John Lasseter";
3.Find all the movies (and director) not directed by John Lasseter 
    SELECT title, director FROM movies 
    WHERE director != "John Lasseter";
4.Find all the WALL-* movies 
    SELECT * FROM movies 
    WHERE title LIKE "WALL-_";

In [ ]:
1.List all directors of Pixar movies (alphabetically), without duplicates
    SELECT DISTINCT director FROM movies
    ORDER BY director ASC;
2.List the last four Pixar movies released (ordered from most recent to least)
    SELECT title, year FROM movies
    ORDER BY year DESC
    LIMIT 4;
3.List the first five Pixar movies sorted alphabetically 
    SELECT title FROM movies
    ORDER BY title ASC
    LIMIT 5;
4.List the next five Pixar movies sorted alphabetically 
    SELECT title FROM movies
    ORDER BY title ASC
    LIMIT 5 OFFSET 5;

In [ ]:
1.List all the Canadian cities and their populations 
    SELECT city, population FROM north_american_cities
    WHERE country = "Canada";
2.Order all the cities in the United States by their latitude from north to south
    SELECT city, latitude FROM north_american_cities
    WHERE country = "United States"
    ORDER BY latitude DESC;
3.List all the cities west of Chicago, ordered from west to east
    SELECT city, longitude FROM north_american_cities
    WHERE longitude < -87.629798
    ORDER BY longitude ASC;
4.List the two largest cities in Mexico (by population) 
    SELECT city, population FROM north_american_cities
    WHERE country LIKE "Mexico"
    ORDER BY population DESC
    LIMIT 2;
5.List the third and fourth largest cities (by population) in the United States and their population 
    SELECT city, population FROM north_american_cities
    WHERE country LIKE "United States"
    ORDER BY population DESC
    LIMIT 2 OFFSET 2;

In [ ]:
1.Find the domestic and international sales for each movie 
    SELECT title, domestic_sales, international_sales 
    FROM movies
      JOIN boxoffice
        ON movies.id = boxoffice.movie_id;
2.Show the sales numbers for each movie that did better internationally rather than domestically 
    SELECT title, domestic_sales, international_sales
    FROM movies
      JOIN boxoffice
        ON movies.id = boxoffice.movie_id
    WHERE international_sales > domestic_sales;
3.List all the movies by their ratings in descending order 
    SELECT title, rating
    FROM movies
      JOIN boxoffice
        ON movies.id = boxoffice.movie_id
    ORDER BY rating DESC;

In [ ]:
1.Find the list of all buildings that have employees 
    SELECT DISTINCT building FROM employees;
2.Find the list of all buildings and their capacity 
    SELECT * FROM buildings;
3.List all buildings and the distinct employee roles in each building (including empty buildings) 
    SELECT DISTINCT building_name, role 
    FROM buildings 
      LEFT JOIN employees
        ON building_name = building;

In [ ]:
1.Find the name and role of all employees who have not been assigned to a building
    SELECT name, role FROM employees
    WHERE building IS NULL;
2.Find the names of the buildings that hold no employees 
    SELECT DISTINCT building_name
    FROM buildings 
      LEFT JOIN employees
        ON building_name = building
    WHERE role IS NULL;

In [ ]:
1.List all movies and their combined sales in millions of dollars 
    SELECT title, (domestic_sales + international_sales) / 1000000 AS gross_sales_millions
    FROM movies
      JOIN boxoffice
        ON movies.id = boxoffice.movie_id;
2.List all movies and their ratings in percent 
    SELECT title, rating * 10 AS rating_percent
    FROM movies
      JOIN boxoffice
        ON movies.id = boxoffice.movie_id;
3.List all movies that were released on even number years 
    SELECT title, year
    FROM movies
    WHERE year % 2 = 0;

In [ ]:
1.Find the longest time that an employee has been at the studio 
    SELECT MAX(years_employed) as Max_years_employed
    FROM employees;
2.For each role, find the average number of years employed by employees in that role 
    SELECT role, AVG(years_employed) as Average_years_employed
    FROM employees
    GROUP BY role;
3.Find the total number of employee years worked in each building 
    SELECT building, SUM(years_employed) as Total_years_employed
    FROM employees
    GROUP BY building;

In [ ]:
1.Find the number of Artists in the studio (without a HAVING clause)
    SELECT role, COUNT(*) as Number_of_artists
    FROM employees
    WHERE role = "Artist";
2.Find the number of Employees of each role in the studio 
    SELECT role, COUNT(*)
    FROM employees
    GROUP BY role;
3.Find the total number of years employed by all Engineers 
    SELECT role, SUM(years_employed)
    FROM employees
    GROUP BY role
    HAVING role = "Engineer";

In [ ]:
1.Find the number of movies each director has directed 
    SELECT director, COUNT(id) as Num_movies_directed
    FROM movies
    GROUP BY director;
2.Find the total domestic and international sales that can be attributed to each director 
    SELECT director, SUM(domestic_sales + international_sales) as Cumulative_sales_from_all_movies
    FROM movies
        INNER JOIN boxoffice
            ON movies.id = boxoffice.movie_id
    GROUP BY director;

In [ ]:
1.Add the studio's new production, Toy Story 4 to the list of movies (you can use any director) 
    INSERT INTO movies VALUES (4, "Toy Story 4", "El Directore", 2015, 90);
2.Toy Story 4 has been released to critical acclaim! It had a rating of 8.7, and made 340 million domestically and 270 million internationally. Add the record to the BoxOffice table. 
    INSERT INTO boxoffice VALUES (4, 8.7, 340000000, 270000000);

In [ ]:
1.The director for A Bug's Life is incorrect, it was actually directed by John Lasseter 
    UPDATE movies
    SET director = "John Lasseter"
WHERE id = 2;
2.The year that Toy Story 2 was released is incorrect, it was actually released in 1999 
    UPDATE movies
    SET year = 1999
    WHERE id = 3;
3.Both the title and directory for Toy Story 8 is incorrect! The title should be "Toy Story 3" and it was directed by Lee Unkrich 
    UPDATE movies
    SET title = "Toy Story 3", director = "Lee Unkrich"
    WHERE id = 11;

In [ ]:
1.This database is getting too big, lets remove all movies that were released before 2005. 
    DELETE FROM movies
    where year < 2005;
2.Andrew Stanton has also left the studio, so please remove all movies directed by him.
    DELETE FROM movies
    where director = "Andrew Stanton";

In [ ]:
1.Create a new table named Database with the following columns:
– Name A string (text) describing the name of the database
– Version A number (floating point) of the latest version of this database
– Download_count An integer count of the number of times this database was downloaded
This table has no constraints. 

CREATE TABLE Database (
    Name TEXT,
    Version FLOAT,
    Download_count INTEGER
);

In [ ]:
1.Add a column named Aspect_ratio with a FLOAT data type to store the aspect-ratio each movie was released in.
    ALTER TABLE Movies
      ADD COLUMN Aspect_ratio FLOAT DEFAULT 2.39;
2.Add another column named Language with a TEXT data type to store the language that the movie was released in. Ensure that the default for this language is English. 
    ALTER TABLE Movies
      ADD COLUMN Language TEXT DEFAULT "English";

In [ ]:
1.We've sadly reached the end of our lessons, lets clean up by removing the Movies table 
    DROP TABLE Movies;
2.And drop the BoxOffice table as well 
    DROP TABLE BoxOffice;